{% extends 'base.html' %}
{% block title %}
Новости
{% endblock %}
{% block content %}
    <style>

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
    </style>
    {% if request.user.is_authenticated %}
<div class="container">
    <div class="main-body" style="padding-top: 30px">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://polimed.by/upload/iblock/661/66170d090fe9f213aec496c659767fb5.jpg" alt="Admin" class="rounded-circle" width="300">
                    <div class="mt-3">
                      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><img src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline" alt=""><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></img>  Вконтакте</h6>
                      {% if not user.vk_link %}

                          <a class="text-secondary " style="font-size: 14px" >Добавьте Vk id в настройках профиля</a>
                             {% else %}
                    <a class="text-secondary " target="_blank" href="https://vk.com/{{ user.vk_link }}">{{ user.vk_link }}</a>
                          {% endif %}

                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Фамилия</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.last_name }}

                    </div>
                  </div>
                    <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Имя</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.first_name }}
                    </div>
                  </div>
                    <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Отчество</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.patronymic }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.email }}
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Мобильный телефон</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% if user.phone %}
                      {{ user.phone }}
                            {% else %}
                            <a class="text-secondary " style="font-size: 16px" >Добавьте номер телефона в настройках профиля</a>
                            {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-9">

                      <a class="btn btn-primary "style="margin-bottom: 10px"  href="{% url 'profile_update' user.id%}">Настройки профиля</a>

                    </div>
                            {% if request.user.is_superuser %}
                      <div class="col-sm-3">
                          <a class="btn btn-outline-primary "  href="admin/">Админ-панель</a>
                      </div>
                            {% endif %}
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">

                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Список записей на мероприятия:</h6>
                        {% for item in reg %}
        {% if item.is_registered %}
        <div class="card mb-3 my-4  " style="background-color: #fafafa; border-radius: 5px;">
        <a href="{% url 'view_events' item.event.id%}" class="text-secondary " target="_blank" style="text-decoration: none ;"><h6 class="card-title " style="margin-left: 20px;margin-top: 10px;margin-bottom: 10px">{{ item.event }}</h6></a>

        </div>
        {% endif %}

    {% endfor %}
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>
    {% endif %}
{% endblock %}