{% extends 'base.html' %}
{% load static %}
{% block title %}
Формула добра
{% endblock %}
{% block content %}


     <style>

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ced4ee;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Вверх</button>


<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
        <header class="bg-light py-5" style="background: url(https://sun9-5.userapi.com/impf/Nsv7h6LgMvUSZ2HdVs-MriYmDMOr7XggdSvMJg/cj-P2kkDW0Y.jpg?size=2560x853&quality=96&sign=3359e2f507fb9aa5b4d90a17c3ec6a35&type=album) center;background-size: auto;">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center my-5">
                            <p class="lead text-50 mb-5" style="padding-top: 200px;font-size: 25px">Волонтёрское общество "Формула добра"</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                {% if request.user.is_authenticated %}
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'profile' %}">Перейти в личный профиль</a>
                                    {% else %}
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'register' %}">Присоединиться к нам</a>
                                {% endif %}
                                <a class="btn btn-outline-secondary btn-lg px-4" href="#features">Узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Общие сведения</h2>
                        <p style="font-size: 17px">Основные виды деятельности является добровольчество и волонтёрство.Основные цели:
Распространение добровольчества среди молодёжи
• Патриотическое воспитание молодёжи
• Реализация социальных проектов
• Участие в популяризации добровольчества.</p>

                    </div>
                                    </div>
                                </div>
                         </div>
                        </div>

                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Результаты</h2>
                        <p style="font-size: 17px;padding-bottom: 102px">Огромный объем проделанной работы за год
• Выход на лидирующие позиции в добровольческом движении Всеволожского
района.</p>

                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card mb-4" >
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Перспективы развития</h2>
                        <p style="font-size: 17px; padding-bottom: 51px">
Выход на муниципальный и региональный уровни
• Регистрация объединения как НКО
• Пополнение портфолио ДО «Формула Добра»
• Участие во Всероссийских добровольческих конкурсах.</p>

                    </div>
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
        </section>
        <!-- Pricing section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Руководители</h2>
                    <p class="lead mb-0">Благодаря этим людям существует наше объединение</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted mb-2">Основатель</div>
                                <img src="{% static 'JaTUsqG1jIU.jpg' %}" class="card-img-top rounded mx-auto d-block mx-5 mb-2">
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong style="font-size: 18px">Руслан Оськин</strong>
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" target="_blank" href="https://vk.com/justrus911"><img src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline" alt=""><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></img></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                   <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted mb-2">Руководитель</div>
                                <img src="{% static 'beltop.png' %}" class="card-img-top rounded mx-auto d-block mx-5 mb-2" >
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong style="font-size: 18px">Егор Белють</strong>
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" target="_blank" href="https://vk.com/belyut2"><img src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline" alt=""><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></img></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card enterprise-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted mb-2">Зам.Руководителя</div>
                                <img src="{% static 'osivova.png' %}" class="card-img-top rounded mx-auto d-block mx-5 mb-2 " >
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong style="font-size: 18px">Марина Осипова</strong>
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" target="_blank" href="https://vk.com/tot_and_tam"><img src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline" alt=""><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></img></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Что даёт волонтёрство?</h2>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <ul class="list-unstyled mb-2">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong style="font-size: 18px">Ты повышаешь свою самооценку</strong>
                                    </li>

                                </ul>
                                        <p class="mb-1">Будучи волонтером, ты помогаешь людям. Участвуя в социальных проектах, ты делаешь мир вокруг нас, пусть немного, но лучше. Участвуя в экологических акциях, ты вносишь свой вклад в спасение нашей планеты. Ты всегда осознаешь, что даришь добро и поэтому ты сам становишься лучше. Ты начинаешь ощущать себя по-другому. И отношение к тебе со стороны окружающих тоже меняется.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <ul class="list-unstyled mb-2">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong style="font-size: 18px">Строишь фундамент своей будущей карьеры</strong>
                                    </li>

                                </ul>
                                        <p class="mb-1">Первое, на что смотрят, принимая тебя на работу – твое резюме. Помимо образования и опыта работы, тебя, как правило, просят рассказать, чем еще ты занимаешься в жизни. Волонтерство здесь - огромный плюс для тебя. Ты не только демонстрируешь свои личностные качества – доброту, отзывчивость, общительность, организованность, ответственность, но и показываешь себя разносторонним и развитым человеком.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                                <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <ul class="list-unstyled mb-2">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong style="font-size: 18px">Находишь новых друзей</strong>
                                    </li>

                                </ul>
                                        <p class="mb-1">Волонтерами становятся люди разных возрастов, разных национальностей, разных занятий и увлечений. Но все они – яркие, талантливые личности с неутомимой энергией. Участвуя в волонтерских проектах, ты заводишь сотни новых знакомств, которые могут перерасти в крепкую дружбу. Это могут быть люди из других городов, стран, с других континентов. Это возможность познакомиться с людьми из другого круга. Возможность посмотреть на мир другими глазами.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5 " >
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">Свяжитесь с нами</h2>
                    <p class="lead mb-0">Мы ответим вам в ближайшее время</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form id="contactForm" method="post">
                            {% csrf_token %}
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                {{form.name}}
                                <label for="name">Полное имя</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Введите имя</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                {{form.email}}
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Введите Email</div>

                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                {{form.phone}}
                                <label for="phone">Номер телефона</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Введите номер телефона</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                {{form.message}}
                                <label for="message">Сообщение</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Введите сообщение</div>
                            </div>

                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit" >Отправить</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock %}