{% load events_reg %}

{% is_reg events_post_id as is_registered %}

{% if is_registered %}
    {% events_r_id events_post_id as events_reg_id %}
{% endif %}

<form action="
        {% if not is_registered %}{% url 'add' %}{% else %}{% url 'remove' %}{% endif %}"
      method="post">{% csrf_token %}
    <input type="hidden" name="events_post_id" value="{{ events_post_id }}">
    <input type="hidden" name="user_id" value="{% if user.is_authenticated %}{{ request.user.id }}{% else %}None{% endif %}">
    <input type="hidden" name="url_form" value="{{ request.path }}">

    {% if is_registered %}
        <input type="hidden" name="events_reg_id" value="{{ events_reg_id }}">
    {% endif %}

    {% if not is_registered %}
        <button type="submit" class="btn btn-outline-primary btn-lg mx-auto d-block mx-5"  >Записаться</button>
    {% else %}
        <button type="button" class="btn btn-secondary btn-lg mx-auto d-block mx-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Отменить запись
    </button>
    {% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Отмена записи</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы точно хотите отменить запись на мероприятие?
      </div>
      <div class="modal-footer">

        <button type="submit" class="btn btn-secondary mx-auto d-block mx-5">Отменить запись</button>
      </div>
    </div>
  </div>
</div>
</form>

